<div class="container text-center mt-5">
  <h1 class="w-100 txt-center"><b>Catálogo de Livros</b></h1>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Título</th>
        <th>Resumo</th>
        <th>Editora</th>
        <th>Autores</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let livro of livros">
        <td>
          <div class="d-flex flex-column align-items-center width-50">
            <div>{{ livro.titulo }}</div>
            <button (click)="excluirLivro(livro.codigo)" class="btn btn-danger">
              Excluir
            </button>
          </div>
        </td>
        <td>{{ livro.resumo }}</td>
        <td>{{ livro.editora }}</td>
        <td>{{ livro.autores.join(", ") }}</td>
      </tr>
    </tbody>
  </table>
</div>
